<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>content.io</title>
	<style>
		:root {
			--content-primary-color: #<%= @content.primary %>;
			--content-secondary-color: #<%= @content.secondary %>;
			--content-accent-color: #<%= @content.accent %>;
			--content-text-color: #<%= @content.text_color %>;
			--content-text-size: <%= @content.text_size%>px;
		}
	</style>
	<link href="/styles/global.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="content-container">
		<div class="content-side"></div>
		<div class="content-center">
			<div class="glowing-container">
				<h1 id="content">CONTENT</h1>
				<% 15.times do |i| %>
					<span class="particle" style="--i:<%= i%>;"></span>
				<% end %>
			</div>
		</div>
		<div class="content-side"></div>
	</div>
</body>
</html>